.hover__card {
  background: var(--card-primary);
  transition: background 1s ease;
}
.hover__card:hover {
  background: var(--white-primary);
}

.hover__card > :nth-child(1) {
  width: 100%;
  height: 100%;
  /* background: radial-gradient(circle, rgba(250, 234, 191, 1) 0%, #c2c2c2 38%); */
  background: radial-gradient(
    circle,
    var(--card-secondary) 0%,
    var(--card-primary) 38%
  );
  transition: 0s;
}
.hover__card:hover > :nth-child(1) {
  background: transparent;
}

.hover__card:hover .honey__hover {
  background: var(--card-secondary);
}
.hover__card:hover .subdegree {
  background: var(--card-primary);
}
.hover__card:hover .icons {
  background: var(--card-secondary);
}
