@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
.dark-theame {
  --black-primary: #161513;
  --black-secondary: #1c1c22;
  --white-primary: #f0f2f5;
  --white-secondary: #ffffff;
  --gradient: #b16cea - #ff5e69 - #ff8a56 - #ffa84b;
}
